* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}


/*--header--*/

header {
    background-color: #1B500D;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .header-titulo{
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin: 0px;
}

.navbar-nav .nav-item .header-nav{
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/*--inicio--*/

.presentacion-titulo {
    color: #1B500D;
    font-size: 2rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.presentacion-bajada {
    color: #8CB369;
    font-size: 1.4rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.presentacion-txt {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: left;
    font-weight: 300;
}

.valores {
    background-color: #BAD1A5;
    padding: 20px 60px;
    margin-top: 50px;
}

.valores-icono{
    color: #1B500D;
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px;
}

.valores-titulo {
    color: #1B500D;
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 15px 0 10px;
}

.valores-txt {
    color: #1B500D;
    font-size: 0.9rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}





/*----servicios----*/

.titulo-secciones {
    text-align: center;
    color: #1B500D;
    height: 10vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding: 30px 15px 0px 15px;
}

.servicios-titulo {
    color: #1B500D;
    font-size: 1.4rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.servicios-txt {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: left;
    font-weight: 300;
}

/*---promociones---*/

.fondo-verde {
    background-color: #BAD1A5;
    background-size:contain;
}

.tarjeta {
    background-color: #ffffff;
    width: 380px;
    height: 540px;
    border-radius: 20px;
    align-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    margin: 50px 30px 0px 30px;
}

.tarjeta__img {
    width: 320px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.tarjeta__titulo {
    text-align: left;
    color: #1B500D;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 15px 5px 15px;
}

.tarjeta__txt {
    color: #1B500D;
    font-size: 1.2rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 3px 15px;
}

.tarjeta__precio {
    text-align: center;
    color: #1B500D;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    font-weight: 800;
    margin-top: 15px;
}

.tarjeta__btn {
    color: #ffffff;
    background-color: #1B500D;
    height: 50px;
    width: 100px;
    padding: 12px 0;
    margin-top: 18px;
    border-radius: 30px;
    align-self: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}

.tarjeta__btn:hover {
    background-color: #8CB369;
    color: #1B500D;
}

/*----galeria----*/

.contenedor-galeria {
    padding: 20px;
}

.img-galeria {
    width: auto;
    height: 300px;
    margin: 20px 50px;
}

/*----contacto----*/

.contacto {
    padding: 30px;
}

.contacto__tarjeta {
    background-color: #ffffff;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    align-content: center;
    overflow: hidden;
    padding: 30px 30px;
    margin: 0px 30px 0px 30px;
}

.contacto__titulo {
    text-align: left;
    color: #1B500D;
    height: 6vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 0px 15px;
    margin-bottom: 10px;
}

.contacto__txt {
    text-align: left;
    color: #000000;
    height: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0px 15px;
    margin-bottom: 7px;
}

.contacto__img {
    padding: 0px 15px;
    width: 500px;
    height: 350px;
}

.contacto__btn {
    color: #ffffff;
    background-color: #1B500D;
    height: 50px;
    width: 100px;
    padding: 12px 0;
    margin-top: 18px;
    border-radius: 30px;
    align-self: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
}

.contacto__btn:hover {
    background-color: #8CB369;
    color: #1B500D;
}

/*----footer----*/

footer{
    margin: 0;
}

.pie-info{
    background-color: #1B500D;
    padding: 20px 20px;
}

.pie-titulo {
    color: #ffffff;
    font-size: 0.7rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.pie-txt {
    color: #ffffff;
    font-size: 0.7rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.pie-mail {
    color: #ffffff;
    font-size: 0.7rem;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.pie-redes{
    color: #ffffff;
}

.pie-legales{
    background-color: #8CB369;
    height: 25px;
}

.legales-txt {
    font-size: 0.6rem;
    color: #1B500D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 6px;
}
