.tarjeta {
    background-color: $color-terciario;
    width: 400px;
    height: 580px;
    border-radius: $bradius;
    overflow: hidden;
    @include dflex(column, center);
    padding: 30px 15px;
    box-shadow: $shadow;

    &__img {
        width: 340px;
        height: 220px;
        object-fit: cover;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    &__titulo {
        color: $color-primario;
        @include text(left, 1.5rem, 700);
        margin: 20px 15px 5px 15px;
    }

    &__txt {
        color: $color-primario;
        @include text(left, 1.2rem, 300);
        padding: 3px 15px;
    }

    &__precio {
        color: $color-primario;
        @include text(center, 2.1rem, 800);
        margin-top: 5px;
    }
}

.contacto-tarjeta {
    background-color: $color-terciario;
    width: 90%;
    height: 90%;
    border-radius: $bradius;
    padding: 30px 30px;
    margin: 0px 30px 0px 30px;
    box-shadow: $shadow;
}